name: Tests

on:
  push:
  pull_request:

jobs:
  run_tests:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: [7.4, 8.0]

    name: ${{ matrix.os }} with PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd, fileinfo
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: composer install
      
      - name: Run tests
        run: php vendor/bin/phpunit
